@media (min-width:280px) { /* Galaxy Fold */ }
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

.contenedor__mensaje , form {
  width: 100%;
  margin: 0 auto;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.form button:hover {
  background-color: #6B5AC9;
  color: white;
}
